<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-navimap" version="1.2.3" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>NaviMap</name>
  <description>Cordova NaviMap Plugin call app,use Baidu Map APP and Amap App</description>
  <license>Apache 2.0</license>
  <js-module name="NaviMap" src="www/NaviMap.js">
    <clobbers target="cordovaNaviMap" />
  </js-module>
  
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="NaviMap">
        <param name="android-package" value="com.contron.cordova.navimap.NaviMap" />
      </feature>
    </config-file>
	
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/NaviMap.java" target-dir="src/com/contron/cordova/navimap/NaviMap" />
  </platform>
  
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="NaviMap">
        <param name="ios-package" value="NaviMap" />
      </feature>
    </config-file>
	
	<config-file parent="LSApplicationQueriesSchemes" target="*-Info.plist">
	  <array>
		  <string>iosamap</string>
		  <string>baidumap</string>
	  </array>
	</config-file>
	
    <source-file src="src/ios/NaviMap.h" />
	<source-file src="src/ios/NaviMap.m" />
	
  </platform>
</plugin>